certbot/*
.venv/
ssl/*
conf.d/*
#  sous-dossiers de venvs_library
venvs_library/**/*
# garder subfolder vides de venvs_library
!venvs_library/**/
# garder venvs_library 
!venvs_library/
.env
*.env
litellm/postgres_data