[submodule "open-webui"]
	path = open-webui
	url = https://github.com/OpenLLM-France/open-webui.git
	branch = release/1.0
[submodule "FanLine"]
	path = FanLine
	url = https://github.com/OpenLLM-France/FanLine.git
	branch = master
